services:
  db:
    image: mysql:latest
    container_name: recrutment-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: recrutment_employers
      MYSQL_ALLOW_EMPTY_PASSWORD: true
    ports:
      - "3306:3306"
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
volumes:
  db_data:
